

<p id="welcome">Welcome to Daily a lifestyle website!!</p>



<div id="body">
<%= button_to "Sign Up!", new_user_path, method: :get %>
<%= button_to "Log In!", new_session_path, method: :get %>

</div>
