<h2><%= @user.name %></h2>

<h4>Books I'm Reading</h4>
    <% @user.books.uniq.each do |book| %>
        <li><%= link_to book.title, book_path(book) %>
    <% end %>

<hr><br>


<%= button_to "Back to My Profile", user_profile_path, method: :get %>