<h2 id="welcome"><%= @user.name %></h2>

<h4 id="body">Books I'm Reading</h4>
    <% @user.books.uniq.each do |book| %>
        <li><%= link_to book.title, book_path(book) %>
    <% end %>

<hr><br>
<h4 id="body">Music I'm Listening To</h4>
    <% @user.musics.uniq.each do |song| %>
        <li><%= link_to song.title, music_path(song) %>
    <% end %>
<hr><br>

<%= button_to "Back to My Profile", user_profile_path, method: :get %>