// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#welcome {
    text-align: center;
    border-radius: 25px;
    border: 1px solid blue;
    color: red;
 }

 
#inside {
   display: inline-block;
   background-color: darkgray;
   line-height: 35px;
   text-align: left;
   color: black;
 }
    
#inside2 {
    border-radius: 20px;
    background-color: aquamarine;
    line-height: 35px;
    text-align: left;
    padding: 10px;
 }
    
#body {
    background-color: aquamarine;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
    border: 2px dotted red;
 }
#body2 {
    background-color: darkgray;
    text-align: center;
 }
#body4 {
   text-align: center;
 }
#body3 {
    border: 1px solid blue;
    color: red;
    padding: 10px;
 }
   