<h1> Music Index </h1>
<%= button_to "New Music", {:action => "new"}, :method => "get" %>
<% @musics.each do |music| %>
    <ul>
    <li><%= link_to music.title, music_path(music)%></li>
    </ul>
    <% end %>
